<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>SpringBoot模板渲染</title>
</head>
<body>
    <form action="add" method="post">
        用户邮箱：<input type="text" name="mid" value="email@kuhnwei.com"/><br/>
        用户年龄：<input type="text" name="age" value="18"/><br/>
        用户工龄：<input type="text" name="salary" value="500000"/><br/>
        用户生日：<input type="text" name="birthday" value="2000-01-01"/><br/>
        <input type="submit" value="提交"/>
        <input type="reset" value="重置"/>
    </form>
</body>
</html>